<!DOCTYPE html>
 <html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>VueJS - Chapter 3</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="vue.js"></script>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <h1 class='chapterHeader'>Chapter 3: Using Conditionals and Rendering</h1>
        <div id="app">
            <div class='sectionHeader'>
                <p>CONDITIONAL RENDERING WITH V-IF</p>
                We can use the <i>v-if</i> directive to control the DOM display. One important thing to note is that <i>v-if</i>  literally <i>attaches</i> and <i>detaches</i> 
                elements (and its nested elements too) in the DOM. This means that elements are not merely <i>hidden</i>; they are <i>removed entirely.</i> The <i>v-else</i> directive will be referred to
                the latest <i>v-if</i> in front of it. <br><br>
                In this example, if the statement "You can see me!" is visible, then show = true. Once the "Switch" button is clicked, show = false and the statement "Now you see me!" appears
                instead.
            </div>
            <div class='exampleOutput'>
                <p v-if='show'>You can see me!</p>
                <p v-else>Now you see me!</p>
                <p>Do you also see me?</p>
                <button @click='show = !show'>Switch</button>
            </div>
            <hr>

            <div class='sectionHeader'>
                <p>USING AN ALTERNATIVE V-IF SYNTAX</p>
                We can use the <i>v-if</i> directive inside of a <i>template</i> tag to group multiple elements that we want to attach or detach with <i>v-if</i>. This is easier than
                putting <i>v-if</i> for each individual element.
            </div>
            <div class='exampleOutput'>
                <template v-if='show2'>
                    <h4>Heading for a template</h4>
                    <p>Inside a template</p>
                </template>
                <p v-else>Now you see me!</p>
                <p>Do you also see me?</p>
                <button @click='show2 = !show2'>Switch</button>
            </div>
            <hr>

            <div class='sectionHeader'>
                <p>DON'T DETACH IT WITH V-SHOW</p>
                We know that <i>v-if</i> attaches and detaches elements to and from the DOM. However, sometimes this is not desired behavior and we might only want to "hide" an element.
                For that, we can use <i>v-show</i> instead, which just sets the CSS display property to "none" rather than removing the element from the DOM.
            </div>
            <div class='exampleOutput'>
                <template v-if='show3'>
                    <h4>Heading for a template</h4>
                    <p>Inside a template</p>
                </template>
                <p v-else>Now you see me!</p>
                <p v-show='show3'>Do you also see me?</p>
                <button @click='show3 = !show3'>Switch</button>
            </div>
            <hr>

            <div class='sectionHeader'>
                <p>RENDERING LISTS WITH V-FOR</p>
                We can use <i>v-for</i> to loop through elements in an array, similar to a normal for loop.
            </div>
            <div class='exampleOutput'>
                <ul>
                    <li v-for='ingredient in ingredients'>{{ ingredient }}</li>
                </ul>
            </div>
            <hr>






            <div class='prevNextButtonRow'>
                <div></div><div></div>
                <div>
                    <h3 style='text-align: center;'>Previous: <br> Using VueJS to Interact with the DOM</h3>
                    <a href='Chapter2.html' class='previousChapterButton center' title='Using VueJS to Interact with the DOM'><span>Chapter 2</a>
                </div>
                <div>
                    <h3 style='text-align: center;'>Next: <br> First Course Project - The Monster Slayer</h3>
                    <a href='Chapter4.html' class='nextChapterButton center' title='First Course Project - The Monster Slayer'><span>Chapter 4</a>
                </div>
                <div></div><div></div>
            </div>
           
        </div>
    </body>
    <script>
        new Vue ({
            el: '#app',
            data: {
                show: true,
                show2: true,
                show3: true,
                ingredients: ['Meat', 'Fruit', 'Cookies'],
                persons: [
                    {name: 'Max', age: 27, color: 'Red'},
                    {name: 'Chels', age: 'Unknown', color: 'blue'}
                ]
            }
        });
    </script>
</html>